[submodule "jasmine"]
	path = jasmine
	url = https://github.com/pivotal/jasmine.git
[submodule "jasmine-reporters"]
	path = jasmine-reporters
	url = https://github.com/larrymyers/jasmine-reporters.git
[submodule "env-js"]
	path = env-js
	url = https://github.com/thatcher/env-js.git
